<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TestSmallDB" connectionString="Data Source = .\TestDBFiles\Small.db; Version = 3;" providerName="Microsoft.SqlClient" />
		<add name="TestMediumDB" connectionString="Data Source = .\TestDBFiles\Medium.db; Version = 3;" providerName="Microsoft.SqlClient" />
		<add name="TestLargeDB" connectionString="Data Source = .\TestDBFiles\Large.db; Version = 3;" providerName="Microsoft.SqlClient" />
	</connectionStrings>

</configuration>