<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLiteTestSmallDB" connectionString="Data Source = .\TestDBFiles\Small.db; Version = 3;" providerName="Microsoft.SqlClient" />
		<add name="SQLiteTestMediumDB" connectionString="Data Source = .\TestDBFiles\Medium.db; Version = 3;" providerName="Microsoft.SqlClient" />
		<add name="SQLiteTestLargeDB" connectionString="Data Source = .\TestDBFiles\Large.db; Version = 3;" providerName="Microsoft.SqlClient" />
		<add name="MySQLTestSmallDB" connectionString="Server = 127.0.0.1; Uid = root; Pwd = pass; database=test_small_db"/>
		<add name="MySQLTestMediumDB" connectionString="Server = 127.0.0.1; Uid = root; Pwd = pass; database=test_medium_db"/>
		<add name="MySQLTestLargeDB" connectionString="Server = 127.0.0.1; Uid = root; Pwd = pass; database=test_large_db"/>
	</connectionStrings>

</configuration>